@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header{
    margin-bottom: 200px;
}

nav
{
    background-color: #C8E3F7;
}


nav .brand
{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
}
